header {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

/* have the button change color on mode toggle */
button.light {
    background-color: black;
    color: white;
}

button.dark {
    background-color: white;
    color: black;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

a {
    text-decoration: none;
    color: blue;
}

.dark {
    background-color: dimgray;
    color: #d3e3f1;
}

.light {
    background-color: aqua;
    color: #1f2224;
}

/* Fix the footer to the bottom of the page */
footer {
    text-align: center;
    background-color: green;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}